/* titol.css */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Força que no hi hagi scroll */
    background-color: transparent;
    align-items: flex-start;
}

#header {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Molt important: el padding no suma amplada extra */
    border: 1px solid #eee;
    width: 95%;
    margin-top: 5px;
    max-width: 380px;
    max-height: 140px; /* Ajusta l'alçada màxima */
}

h1 {
    margin: 0;
    font-size: 1.4rem;
    color: #04b1f6; /* Blau del títol */
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h5 {
    margin: 2px 0 10px 0;
    color: #666;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.75rem;
}

#stats {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    font-weight: bold;
}

#km {
    font-size: 2.2rem;
    color: #e63946; /* Vermell dels KM */
}

#km + span {
    font-size: 0.9rem;
    color: #457b9d; /* Blau fosc per a la unitat KM */
    margin-right: 10px;
}

#desnivell {
    font-size: 1.6rem;
    color: #457b9d; /* Blau dels M+ */
}

small {
    font-size: 0.7rem;
    color: #457b9d;
}
