/* titol.css */

body {
    margin: 0;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Força que no hi hagi scroll */
    background-color: transparent;
}

#header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border: 1px solid #eee;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin: 0;
    font-size: 1.6rem;
    color: #04b1f6; /* Blau del títol */
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5 {
    margin: 5px 0 15px 0;
    color: #666;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#stats {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    font-weight: bold;
}

#km {
    font-size: 2.5rem;
    color: #e63946; /* Vermell dels KM */
}

#km + span {
    font-size: 1rem;
    color: #457b9d; /* Blau fosc per a la unitat KM */
    margin-right: 15px;
}

#desnivell {
    font-size: 1.8rem;
    color: #457b9d; /* Blau dels M+ */
}

small {
    font-size: 0.8rem;
    color: #457b9d;
}